<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="invoice" frontName="invoice">
            <module name="Hawksama_Invoice" />
        </route>
    </router>
</config>
